.dmca-head{
    padding-top: 5rem;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
    color: white;
    width: 90%;
}

.dmca-heading{
    margin-top: 1rem;
    font-weight: 700;
    font-size: 1.875rem;
    line-height: 2.25rem;
    color: white;
}

.dmca-p{
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2rem;
    margin-top: 1.25rem;
}

a{
    text-decoration: inherit;
    color: darkcyan;
}

.dmca-list{
    list-style-type: disc;
    display: list-item;
    line-height: 2rem;
    margin-top: 1.25rem;
    font-size: 1.3rem;
    font-weight: 700;
}